label {
    color: black;
}
/* main grid */
.ParticipantSetup{
    padding: 200px 0;
    position: fixed;
    display: block;
    height: 100%; 
    width: 100%;

    background: linear-gradient(180deg, #F7F8FC 70%, #15DB95 100%);
}
.ParticipantSetup form{
    margin: 0px auto 0px;
    max-width: 320px;
}
.Button {
    background: #15DB95;
}