label {
    color: black;
}
/* main grid */
.ResearcherSetup{
    display: grid;
    grid-gap: .5vh;
    grid-template-rows: 12;
    grid-template-columns: repeat(12, 1fr);
}
form{
    grid-column-start: 4;
    grid-column-end: 10;
}
option{
    color:black;
}
option:hover{
    background: yellow;
}
