select.form-control,
textarea.form-control,
input.form-control {
  font-size: 2vh;
  color: #000000;
}
input[type=file] {
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 6.5vh;
}
h2 {
  font-weight: bold;
  font-size: 4.8vh;
}
p {
  font-family: 'Open Sans' , sans-serif;
  font-size: 4.3vh;
}
.LoaderButton{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  
  background: #FFCE00;
  border: 0px;
  border-radius: 20px;
}
button{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  
  background: #FFCE00;
  border: 0px;
  border-radius: 20px;
}
.FormLabel{
  color: #030A56;
}
label{
  color: #030A56;
}
